@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Mulish:wght@200;400;700&display=swap');

body {
  background: #ff5520;

}

h1 {
  font-family: 'Fugaz One', sans-serif;
  color: #ff5520;
  -webkit-text-stroke: 2px white;
  text-shadow: 2px 2px 0 white;
  text-transform: uppercase;
  font-size: 5em;
}

body>main>form>div>label {
  padding: 0 10px;
}

body>main>form {
  color: #f3eeee;
  font-family: 'Mulish', sans-serif;
  font-size: 1.15rem;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
}

.btn-primary {
  color: #fff;
  background-color: #4CAF50;
  border-color: #009688;
}

.btn-primary:hover {
  background-color: #009688;

}

.form-check-input:checked {
  background-color: #4CAF50;
  border-color: #009688;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3em;
  }

  .input-group .form-label {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2em;
    text-shadow: 1px 1px 0 white;
  }
}